body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.preview {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    min-width: 800px;
    min-height: 1000px;
    max-width: 800px;
    max-height: 1000px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 1fr;
    position: relative;
}

.preview--left {
    position: relative;
    background-color: rgb(39, 36, 57);
    height: 100%;
    width: auto;
    color: white;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 300px;
}

.preview--person {
    padding: 20px;
    display: grid;
    grid-template-rows: 30px 30px auto;
    font-weight: bold;
    font-size: 24px;
}

.preview--person--image {
    width: 180px;
    height: auto;
    align-self: center;
    justify-self: center;
}

.preview--personal-info {
    padding: 20px;
    font-weight: bold;
    font-size: 24px;
}

.preview--right {
    display: grid;
    grid-template-rows: 150px;
}

.preview--description {
    padding: 20px;
}

.preview--experience {
    padding: 20px;
}

.preview--education {
    padding: 20px;
}

.main--left {
    max-width: 600px;
    padding: 20px;
    border: 1px solid black;
}